* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;

}




/* spotify-content */

.main-box {
    display: flex;

}

/* playlist */

.col-left {
    background-color: black;
    height: calc(100vh - 90px);
    width: 250px;

}

/* logo */

.logo {
    width: 60%;
    margin: 10px;
}

/* nav bar */

nav img{
    width: 10%;
}

/* songs and videos */

.col-right {
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 90px);
    overflow: auto;

}

.header {
    background-color: #080B12;
    width: 100%;
    height: 10%;

}

.upgrade-btn {
    color: white;
    padding: 15px 20px;
    border: white solid 2px;
    text-decoration: none;
    border-radius: 25px;
}


/* categories */

ul {
    display: flex;
    justify-content: center;
    margin: 0 40px;
    font-size: 10px;

}

li {
    list-style: none;
    padding: 5px;
    color: gray;
    margin: 20px 10px;
    font-weight: 800;
}

/* gallery-songs */

.main-content {
    margin: 0 10px;
}

.main-content h2 {
    color: white;
    margin: 10px 0px;
}

.main-content p {
    margin: 5px 0 20px;
    color: gray;
    font-size: 12px;
}

.playlist {
    display: flex;
    flex-wrap: wrap;
}

.song {
    width: calc(100% / 6);
    padding: 0 5px;
    margin: 15px 0;
}

.song img {
    width: 100%;
}

.song h3 {
    color: white;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}

/* command panel */

footer {
    background-color: #282828;
    width: 100%;
    height: 90px;
    position: fixed;
    display: flex;

}

/* track img */

.footer-left {
    margin: 0;
    width: 30%;
    display: flex;
    align-items: center;


}

.sinister {
    margin-right: 10px;
}

.sinister img {
    width: 40px;

}

.sinister-text {
    margin-left: 0;
}

.sinister-text h4 {
    color: white;
    font-size: 10px;
}

.sinister-text p {
    color: gray;
    font-size: 10px;
}

/* icon */

.icon-left i {
    color: gray;
    padding: 20px;
}

/* command btn */

.footer-center {
    display: flex;
    width: 40%;

}

.command {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.command i {
    margin: 20px;
    color: white;
    display: block;
}

.volume-bar {}

/* volume section */

.footer-right {
    display: flex;
    width: 30%;
    align-items: center;
    justify-content: center;

}

.icon {
    color: white;
}

.icon i {
    padding: 15px;
}



/* LAYOUT RESPONSIVE */

/* responsive mobile */

@media screen and (max-width: 600px) {
    .col-left {
        width: 50px;
    }

    .song {
        width: calc(100% / 2);
    }
}