*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
}




/* spotify-content */

.main-box{
    display: flex;

}

/* playlist */

.col-left{
    background-color: black;
    height: calc(100vh - 70px);
    width: 20%;

}

/* songs and videos */

.col-right{
    background-color: #141922;
    width: 100%;
    height: calc(100vh - 70px);

}

.header{
    background-color: #080B12;
    width: 100%;
    height: 10%;

}
.upgrade-btn{
    color: white;
    padding: 15px 20px;
    border: white solid 2px;
    text-decoration: none;
    border-radius: 25px;
}

.main-content{

}

/* categories */

ul{
    display: flex;
    justify-content: center;
    margin:0 40px;
    font-size: 10px;

}
li{
    list-style: none;
    padding: 5px;
    color: lightgray;
    margin: 20px 10px;
    font-weight: 800;
}

/* gallery-songs */

.main-content h2{
    color: white;
    margin: 25px 0;
}
.playlist {
   display: flex;
}
.song{
    padding: 0 5px;
}
.song img {
    width: 100%;
}
.song h3{
    color: white;
    font-weight: 600;
    font-size: 14px;
    text-align: center;
    margin: 10px 0;
}

/* command panel */

footer{
    background-color: #282828;
    width: 100%;
    height: 70px;
}

/* LAYOUT RESPONSIVE */

@media screen and (min-width: 701px) {
    
}